/node_modules
/public/hot
/public/storage
/public/admin/trade-license
/public/admin/nid
/public/admin/images/*.jpg
/public/admin/images/*.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/admin/profile-images
